src/contacts.haml
!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = true
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .row
                                //=include components/_sidebar.left.haml
                                .col-8.col-lg-6
                                    .breadCrumb
                                        %a{:href => ""} Главная
                                        %span Контакты
                                    .block
                                        .block__body
                                            %h1.h1 Контакты
                                            .contacts
                                                .contacts__line
                                                    Адрес электронной почты: 
                                                    %a{:target => "_blank", :href => "https://info@timbet.ru"} info@timbet.ru
                                                .contacts__line
                                                    %i.icn-vk 
                                                    Вконтакте: 
                                                    %a{:target => "_blank", :href => "https://vk.com/timbetru"} vk.com/timbetru
                                                .contacts__line
                                                    %i.icn-instagram 
                                                    Instagram: 
                                                    %a{:target => "_blank", :href => "https://instagram.com/timbet.ru"} instagram.com/timbet.ru
                                                .contacts__line
                                                    %i.icn-telegram 
                                                    Telegram: 
                                                    %a{:href => "@Timbetru"} @Timbetru

                                                %h5.contacts__title Можете написать нам прямо сейчас:
                                                %form.contacts__form{:action => ""}
                                                    .row
                                                        .col
                                                            .field-case
                                                                %input.field{:type => "", :name => "", :placeholder => "Ваше имя", :required => "true"}/
                                                        .col
                                                            .field-case
                                                                %input.field{:type => "", :name => "", :placeholder => "Ваш E-mail", :required => "true"}/
                                                    .field-case
                                                        %textarea.field{:name => "", :placeholder => "Ваше сообщение", :required => "true"}
                                                    %input.btns.btns-primary{:type => "submit", :value => "Отправить"}/


                                    
                                //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    

dist/contacts.html
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>Timbet</title>
	<link href="assets/ico/fav/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="assets/ico/fav/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="assets/ico/fav/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link href="assets/ico/ati/ati-57x57.png" rel="apple-touch-icon" sizes="57x57">
	<link href="assets/ico/ati/ati-60x60.png" rel="apple-touch-icon" sizes="60x60">
	<link href="assets/ico/ati/ati-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="assets/ico/ati/ati-76x76.png" rel="apple-touch-icon" sizes="76x76">
	<link href="assets/ico/ati/ati-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="assets/ico/ati/ati-120x120.png" rel="apple-touch-icon" sizes="120x120">
	<link href="assets/ico/ati/ati-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="assets/ico/ati/ati-152x152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="assets/css/libs.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/app.min.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__inner">
						<a class="logo header__logo" href="">
							<img alt="" src="assets/img/logo.svg">
						</a>
						<nav class="mainMenu header__mainMenu">
							<a class="mainMenu__item" href="">ПРОГНОЗЫ</a>
							<a class="mainMenu__item" href="">ОТЗЫВЫ</a>
							<a class="mainMenu__item" href="">FAQ</a>
							<a class="mainMenu__item" href="">КОНТАКТЫ</a>
						</nav>
						<div class="social header__socials">
							<a class="social__item" href="">
								<i class="icn-telegram"></i>
							</a>
							<a class="social__item" href="">
								<i class="icn-vk"></i>
							</a>
							<a class="social__item" href="">
								<i class="icn-instagram"></i>
							</a>
						</div>
						<a class="btns btns-primary header__btns" href="">Регистрация</a>
						<a class="btns btns-default header__btns" href="">Вход</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<img alt="" class="background" src="assets/img/image.jpg">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="mainHead">
						<div class="mainHead__titles">
							<div class="mainHead__title">Прогнозы на спорт</div>
							<div class="mainHead__subtitle">ОТ КОМАНДЫ АНАЛИТИКОВ TIMBET</div>
						</div>
						<ul class="mainHead__list">
							<li>Высокая проходимость</li>
							<li>Профессиональная аналитика</li>
							<li>Многолетний опыт в сфере ставок</li>
						</ul>
						<div class="mainHead__icon">
							<i class="icon-like icon-like-size"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="content">
						<div class="row">
							<div class="col-4 col-lg-3">
								<div class="block">
									<div class="block__head grey">Все прогнозы на спорт</div>
									<div class="forecastsList">
										<div class="forecastsList__head">Футбол</div>
										<ul class="forecastsList__list">
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
										</ul>
									</div>
									<div class="forecastsList">
										<div class="forecastsList__head">Баскетбол</div>
										<ul class="forecastsList__list">
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
										</ul>
									</div>
									<div class="forecastsList">
										<div class="forecastsList__head">Теннис</div>
										<ul class="forecastsList__list">
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
										</ul>
									</div>
									<div class="forecastsList">
										<div class="forecastsList__head">Хоккей</div>
										<ul class="forecastsList__list">
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
											<li>
												<a href="">Франция</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="d-xs-block d-sm-block d-md-block d-lg-none">
									<div class="versusBanner" style="background-image: url(&#39;assets/pictures/banner.jpg&#39;)">
										<div class="versusBanner__text">
											Узнай прогноз на матч
										</div>
										<div class="versusBanner__team">
											<img alt="" src="assets/pictures/team1.png">
											<span>Крузейро</span>
										</div>
										<span class="versusBanner__vs">VS</span>
										<div class="versusBanner__team">
											<img alt="" src="assets/pictures/team2.png">
											<span>Бока Х</span>
										</div>
										<a class="btns btns-primary btns-block versusBanner__btn" href="">Хочу прогноз</a>
									</div>
									<div class="block">
										<div class="block__head grey">Статистика</div>
										<div class="statistic">
											<ul class="statisticList">
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num up">+14.55</span>
												</li>
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num down">-14.55</span>
												</li>
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num up">+14.55</span>
												</li>
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num down">-14.55</span>
												</li>
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num up">+14.55</span>
												</li>
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num down">-14.55</span>
												</li>
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num up">+14.55</span>
												</li>
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num down">-14.55</span>
												</li>
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num up">+14.55</span>
												</li>
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num down">-14.55</span>
												</li>
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num up">+14.55</span>
												</li>
												<li class="statisticItem statisticList__item">
													<a class="statisticItem__month" href="">Январь</a>
													<span class="statisticItem__num down">-14.55</span>
												</li>
											</ul>
											<a class="btns btns-primary btns-block statistic__btn" href="">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="block">
									<div class="block__head grey">Отзывы</div>
									<div class="block__body">
										<div class="feedbackBox">
											<p class="feedbackBox__text">
												Отправь нам скриншот со своим отзывом с зарегистрированного почтового адреса и ПОЛУЧИ 40% СКИДКУ на любой ординар!
											</p>
											<a class="feedbackBox__link" href="">
												Отправь и получи скидку!
												<br>
												info@timbet.ru
											</a>
											<a class="btns btns-primary btns-block" href="">Посмотреть отзывы</a>
										</div>
									</div>
								</div>
								<div class="info">
									<p class="info__text">
										Если у вас возникли вопросы, предложения или идеи, связанные с работой нашего сервиса, пожалуйста, сообщите нам об этом
									</p>
									<a class="info__link" href="">Обратная связь</a>
								</div>
								<div class="info">
									<p class="info__text">
										Есть вопросы по обозначениям ставок? Не понимаешь, что такое тотал или ИТБ1?
									</p>
									<a class="info__link" href="">FAQ по ставкам</a>
								</div>
								<div class="d-xs-block d-sm-block d-md-block d-lg-none">
									<div class="block">
										<div class="block__head grey">Опрос</div>
										<div class="pollBox">
											<p class="pollBox__text">
												Отправь нам скриншот со своим отзывом с зарегистрированного почтового адреса и ПОЛУЧИ 40% СКИДКУ на любой ординар!
											</p>
											<form action="" class="pollBox__form">
												<label class="check-case pollBox__radio">
													<input name="test" type="radio">
													<span class="field-radio">
														<i class="icn-radio"></i>
													</span>
													<div class="check-name">Победа хозяев</div>
												</label>
												<label class="check-case pollBox__radio">
													<input name="test" type="radio">
													<span class="field-radio">
														<i class="icn-radio"></i>
													</span>
													<div class="check-name">Победа хозяев</div>
												</label>
												<label class="check-case pollBox__radio">
													<input name="test" type="radio">
													<span class="field-radio">
														<i class="icn-radio"></i>
													</span>
													<div class="check-name">Победа хозяев</div>
												</label>
												<label class="check-case pollBox__radio">
													<input name="test" type="radio">
													<span class="field-radio">
														<i class="icn-radio"></i>
													</span>
													<div class="check-name">Победа хозяев</div>
												</label>
												<label class="check-case pollBox__radio">
													<input name="test" type="radio">
													<span class="field-radio">
														<i class="icn-radio"></i>
													</span>
													<div class="check-name">Победа хозяев</div>
												</label>
												<input class="btns btns-primary btns-block pollBox__btn" type="submit" value="Проголосовать">
											</form>
											<p class="pollBox__text">
												Отправь нам скриншот со своим отзывом с зарегистрированного почтового адреса и ПОЛУЧИ 40% СКИДКУ на любой ординар!
											</p>
											<div class="pollBox__present">
												<span class="name">Победа хозяев</span>
												<div class="progres">
													<div class="line" style="width: 78%"></div>
													<div class="num">78%</div>
												</div>
											</div>
											<div class="pollBox__present">
												<span class="name">Победа хозяев</span>
												<div class="progres">
													<div class="line" style="width: 78%"></div>
													<div class="num">78%</div>
												</div>
											</div>
											<div class="pollBox__present">
												<span class="name">Победа хозяев</span>
												<div class="progres">
													<div class="line" style="width: 78%"></div>
													<div class="num">78%</div>
												</div>
											</div>
											<em class="pollBox__label">Всего проголосовали: 111</em>
										</div>
									</div>
									<div class="info">
										<p>
											НАПОМИНАЕМ
											ЧТО СТАВКИ НА СПОРТ - ЭТО РИСК, ОТ КОТОРОГО НЕ ЗАСТРАХОВАНЫ ДАЖЕ ПРОФЕССИОНАЛЬНЫЕ БЕТТЕРЫ
											<br>
											<br>
											МЫ НЕ МОЖЕМ ГАРАНТИРОВАТЬ 100% ПРОХОДИМОСТЬ ПРОГНОЗОВ, НО ДЕЛАЕМ ВСЕ ВОЗМОЖНОЕ ДЛЯ ВАШИХ ПОБЕД!
										</p>
									</div>
								</div>
							</div>
							<div class="col-8 col-lg-6">
								<div class="breadCrumb">
									<a href="">Главная</a>
									<span>Контакты</span>
								</div>
								<div class="block">
									<div class="block__body">
										<h1 class="h1">Контакты</h1>
										<div class="contacts">
											<div class="contacts__line">
												Адрес электронной почты:
												<a href="https://info@timbet.ru" target="_blank">info@timbet.ru</a>
											</div>
											<div class="contacts__line">
												<i class="icn-vk"></i>
												Вконтакте:
												<a href="https://vk.com/timbetru" target="_blank">vk.com/timbetru</a>
											</div>
											<div class="contacts__line">
												<i class="icn-instagram"></i>
												Instagram:
												<a href="https://instagram.com/timbet.ru" target="_blank">instagram.com/timbet.ru</a>
											</div>
											<div class="contacts__line">
												<i class="icn-telegram"></i>
												Telegram:
												<a href="@Timbetru">@Timbetru</a>
											</div>
											<h5 class="contacts__title">Можете написать нам прямо сейчас:</h5>
											<form action="" class="contacts__form">
												<div class="row">
													<div class="col">
														<div class="field-case">
															<input class="field" name="" placeholder="Ваше имя" required="true" type="">
														</div>
													</div>
													<div class="col">
														<div class="field-case">
															<input class="field" name="" placeholder="Ваш E-mail" required="true" type="">
														</div>
													</div>
												</div>
												<div class="field-case">
													<textarea class="field" name="" placeholder="Ваше сообщение" required="true"></textarea>
												</div>
												<input class="btns btns-primary" type="submit" value="Отправить">
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="col-4 col-lg-3 d-xs-none d-sm-none d-md-none d-lg-block">
								<div class="block">
									<div class="block__head grey">Статистика</div>
									<div class="statistic">
										<ul class="statisticList">
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num up">+14.55</span>
											</li>
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num down">-14.55</span>
											</li>
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num up">+14.55</span>
											</li>
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num down">-14.55</span>
											</li>
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num up">+14.55</span>
											</li>
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num down">-14.55</span>
											</li>
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num up">+14.55</span>
											</li>
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num down">-14.55</span>
											</li>
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num up">+14.55</span>
											</li>
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num down">-14.55</span>
											</li>
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num up">+14.55</span>
											</li>
											<li class="statisticItem statisticList__item">
												<a class="statisticItem__month" href="">Январь</a>
												<span class="statisticItem__num down">-14.55</span>
											</li>
										</ul>
										<a class="btns btns-primary btns-block statistic__btn" href="">Подробнее</a>
									</div>
								</div>
								<div class="versusBanner" style="background-image: url(&#39;assets/pictures/banner.jpg&#39;)">
									<div class="versusBanner__text">
										Узнай прогноз на матч
									</div>
									<div class="versusBanner__team">
										<img alt="" src="assets/pictures/team1.png">
										<span>Крузейро</span>
									</div>
									<span class="versusBanner__vs">VS</span>
									<div class="versusBanner__team">
										<img alt="" src="assets/pictures/team2.png">
										<span>Бока Х</span>
									</div>
									<a class="btns btns-primary btns-block versusBanner__btn" href="">Хочу прогноз</a>
								</div>
								<div class="block">
									<div class="block__head grey">Опрос</div>
									<div class="pollBox">
										<p class="pollBox__text">
											Отправь нам скриншот со своим отзывом с зарегистрированного почтового адреса и ПОЛУЧИ 40% СКИДКУ на любой ординар!
										</p>
										<form action="" class="pollBox__form">
											<label class="check-case pollBox__radio">
												<input name="test" type="radio">
												<span class="field-radio">
													<i class="icn-radio"></i>
												</span>
												<div class="check-name">Победа хозяев</div>
											</label>
											<label class="check-case pollBox__radio">
												<input name="test" type="radio">
												<span class="field-radio">
													<i class="icn-radio"></i>
												</span>
												<div class="check-name">Победа хозяев</div>
											</label>
											<label class="check-case pollBox__radio">
												<input name="test" type="radio">
												<span class="field-radio">
													<i class="icn-radio"></i>
												</span>
												<div class="check-name">Победа хозяев</div>
											</label>
											<label class="check-case pollBox__radio">
												<input name="test" type="radio">
												<span class="field-radio">
													<i class="icn-radio"></i>
												</span>
												<div class="check-name">Победа хозяев</div>
											</label>
											<label class="check-case pollBox__radio">
												<input name="test" type="radio">
												<span class="field-radio">
													<i class="icn-radio"></i>
												</span>
												<div class="check-name">Победа хозяев</div>
											</label>
											<input class="btns btns-primary btns-block pollBox__btn" type="submit" value="Проголосовать">
										</form>
										<p class="pollBox__text">
											Отправь нам скриншот со своим отзывом с зарегистрированного почтового адреса и ПОЛУЧИ 40% СКИДКУ на любой ординар!
										</p>
										<div class="pollBox__present">
											<span class="name">Победа хозяев</span>
											<div class="progres">
												<div class="line" style="width: 78%"></div>
												<div class="num">78%</div>
											</div>
										</div>
										<div class="pollBox__present">
											<span class="name">Победа хозяев</span>
											<div class="progres">
												<div class="line" style="width: 78%"></div>
												<div class="num">78%</div>
											</div>
										</div>
										<div class="pollBox__present">
											<span class="name">Победа хозяев</span>
											<div class="progres">
												<div class="line" style="width: 78%"></div>
												<div class="num">78%</div>
											</div>
										</div>
										<em class="pollBox__label">Всего проголосовали: 111</em>
									</div>
								</div>
								<div class="info">
									<p>
										НАПОМИНАЕМ
										ЧТО СТАВКИ НА СПОРТ - ЭТО РИСК, ОТ КОТОРОГО НЕ ЗАСТРАХОВАНЫ ДАЖЕ ПРОФЕССИОНАЛЬНЫЕ БЕТТЕРЫ
										<br>
										<br>
										МЫ НЕ МОЖЕМ ГАРАНТИРОВАТЬ 100% ПРОХОДИМОСТЬ ПРОГНОЗОВ, НО ДЕЛАЕМ ВСЕ ВОЗМОЖНОЕ ДЛЯ ВАШИХ ПОБЕД!
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div class="foot__menus">
						<div class="foot__box">
							<div class="foot__title">Типы прогнозов</div>
							<ul class="foot__menu">
								<li>
									<a href="">Прогнозы на футбол</a>
								</li>
								<li>
									<a href="">Прогнозы на баскетбол</a>
								</li>
								<li>
									<a href="">Прогнозы на хоккей</a>
								</li>
								<li>
									<a href="">Прогнозы на теннис</a>
								</li>
								<li>
									<a href="">Ординар</a>
								</li>
								<li>
									<a href="">Экспресс</a>
								</li>
							</ul>
						</div>
						<div class="foot__box">
							<div class="foot__title">Навигация</div>
							<ul class="foot__menu">
								<li>
									<a href="">Прогнозы на спорт</a>
								</li>
								<li>
									<a href="">Личный кабинет</a>
								</li>
								<li>
									<a href="">Регистрация</a>
								</li>
								<li>
									<a href="">Контакты</a>
								</li>
								<li>
									<a href="">Отзывы</a>
								</li>
								<li>
									<a href="">FAQ</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="foot__rightBar">
						<a class="logo foot__logo" href="">
							<img alt="" src="assets/img/logo.svg">
						</a>
						<div class="foot__social">
							<a class="mail" href="">info@timbet.ru</a>
							<div class="social">
								<a class="social__item" href="">
									<i class="icn-telegram"></i>
								</a>
								<a class="social__item" href="">
									<i class="icn-vk"></i>
								</a>
								<a class="social__item" href="">
									<i class="icn-instagram"></i>
								</a>
							</div>
						</div>
						<div class="paymant">
							<i class="icon-master icon-master-size"></i>
							<i class="icon-maestro icon-maestro-size"></i>
							<i class="icon-qiwi icon-qiwi-size"></i>
							<i class="icon-webmoney icon-webmoney-size"></i>
							<i class="icon-yandex icon-yandex-size"></i>
							<i class="icon-visa icon-visa-size"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="foot__copy">
						<span>2018 Timbet. Все права защищены</span>
						<a href="">Договор оферты</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="assets/js/libs.min.js" type="text/javascript"></script>
	<script src="assets/js/app.min.js" type="text/javascript"></script>
</body>

</html>
