src/elements.haml
!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        .wrapper
            %br/
            %h3 Tags Style
            %br/
            %h1 H1 - Helvetica - 20px Lorem ipsum dolor sit amet
            %br/
            %h2 H2 - Helvetica - 20px Lorem ipsum dolor sit amet
            %br/
            %h3 H3 - Helvetica - 18px Lorem ipsum dolor sit amet
            %br/
            %h4 H4 - Helvetica - 18px Lorem ipsum dolor sit amet
            %br/
            %h5 H5 - Helvetica - 18px Lorem ipsum dolor sit amet
            %br/
            %h6 H6 - Helvetica - 18px Lorem ipsum dolor sit amet
            %br/
            %p p - Helvetica - 14px  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium deleniti, accusamus nihil nulla perferendis, quisquam dicta voluptates ea deserunt dolore voluptate quam? Aspernatur in, obcaecati! Officia libero molestias, vitae facere.
            %br/
            %strong strong - Helvetica - 14px Lorem ipsum dolor sit amet
            %br/
            %br/
            %em em - Helvetica - 14px Lorem ipsum dolor sit amet
            %br/
            %br/
            %table{:cellspacing => "0"}
                %caption Table Caption
                %thead
                    %tr
                        %th Table th
                        %th Table th
                        %th Table th
                        %th Table th
                %tbody
                    - (1..5).each do |i|
                        %tr
                            %td 
                                Order #32403429348 from 05/12/2017
                            %td Completed
                            %td 2
                            %td 
                                %strong $89.95
            %br/
            %br/
            %ul
                %li ul - Arial - 14px Lorem ipsum dolor sit amet
                %li ul - Arial - 14px Lorem ipsum dolor sit amet
            %br/
            %ol
                %li ol - Arial - 14px Lorem ipsum dolor sit amet
                %li ol - Arial - 14px Lorem ipsum dolor sit amet
            
            %br/
            %br/
            %br/
            %hr/
            %br/
            %br/
            %h3 Icons
            %br/
            %div{:style => "font-size: 20px"}
                %i.icn-angle-down
                %i.icn-angle-left
                %i.icn-angle-right
                %i.icn-angle-up
                &nbsp;
                &nbsp;
                %i.icn-bars
                %i.icn-close
                %i.icn-checkbox
                %i.icn-radio
                &nbsp;
                &nbsp;
                %i.icn-facebook
                %i.icn-twitter
                %i.icn-linkedin
                %i.icn-youtube
                %i.icn-instagram 
                %i.icn-telegram
                %i.icn-vk
            %br/
            %br/
            %div
                %i.icon-instagram.icon-instagram-size 
                %i.icon-telegram.icon-telegram-size 
                %i.icon-vk.icon-vk-size 
                %i.icon-whatsApp.icon-whatsApp-size 
                
            %br/
            %br/
            %br/
            %hr/
            %br/
            %br/
            %h3 Form elements
            %br/
            .elements
                .row
                    .col-6
                        .field-case
                            %label.field-name Field name
                            %input.field{:type => "text", :placeholder => "Field", :name => ""}/
                        
                        .field-case
                            %label.field-name Field name
                            %input.field.error{:type => "text", :placeholder => "Field wrong", :value => "Field wrong", :name => ""}/
                            %label.error Wrong text

                        .field-case
                            %label.field-name Field name
                            %input.field{:type => "text", :placeholder => "Field disabled", :disabled => "disabled", :name => ""}/
                        .field-case
                            %label.field-name  Field name
                            .file-case
                                %a.btns.btns-primary Attach file
                                %input{:type => "file", :multiple => "", :accept => "image/jpeg, application/msword, application/pdf", :enctype => "multipart/form-data", :name => ""}/  
                                .field 
                                    Attach files (doc, pdf less 2 mb) 
                    .col-6
                        .field-case
                            %label.field-name Field name
                            %select.field{:name => ""}
                                %option{:value => ""} Select field
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %i.icn-angle-down
                        .field-case
                            %label.field-name Field name
                            %select.field.error{:name => ""}
                                %option{:value => ""} Select field wrong
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %label.error Wrong text
                            %i.icn-angle-down
                        .field-case
                            %label.field-name Field name
                            %select.field{:name => "", :disabled => "disabled"}
                                %option{:value => ""} Select field disabled
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %i.icn-angle-down
                    .col-12
                        .field-case
                            %label.field-name Textarea
                            %textarea.field{:name => "", :placeholder => "Textarea"}
                    .col-6
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name 
                                    checkbox default 
                                    %a{:href => "#"}  Accept all terms of service
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input.error{:type => "checkbox", :name => ""}/
                                %label.error Wrong text
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox wrong
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :disabled => "disabled", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox disabled
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :disabled => "disabled", :checked => "checked", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox disabled checked  
                    .col-6
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :name => "test"}/
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio default
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input.error{:type => "radio", :name => ""}/
                                %label.error Wrong text
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio default
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :disabled => "disabled", :name => ""}/
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio disabled
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :disabled => "disabled", :checked => "checked", :name => ""}/
                                %span.field-radio
                                    %i.icn-radio
                                .check-name radio disabled checked 
            %br/        
            %br/
            %h3 Buttons
            %br/
            %button.btns.btns-primary Button Priamary 
            &nbsp;
            %button.btns.btns-secondary Button Secondary 
            &nbsp;
            %button.btns.btns-info Button Info 
            &nbsp;
            %button.btns.btns-primary.disabled Button Disabled 
            &nbsp;
            %br/
            %br/
            %br/
            %br/

        //=include components/_footer.haml

dist/elements.html
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>Timbet</title>
	<link href="assets/ico/fav/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="assets/ico/fav/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="assets/ico/fav/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link href="assets/ico/ati/ati-57x57.png" rel="apple-touch-icon" sizes="57x57">
	<link href="assets/ico/ati/ati-60x60.png" rel="apple-touch-icon" sizes="60x60">
	<link href="assets/ico/ati/ati-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="assets/ico/ati/ati-76x76.png" rel="apple-touch-icon" sizes="76x76">
	<link href="assets/ico/ati/ati-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="assets/ico/ati/ati-120x120.png" rel="apple-touch-icon" sizes="120x120">
	<link href="assets/ico/ati/ati-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="assets/ico/ati/ati-152x152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="assets/css/libs.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/app.min.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__inner">
						<a class="logo header__logo" href="">
							<img alt="" src="assets/img/logo.svg">
						</a>
						<nav class="mainMenu header__mainMenu">
							<a class="mainMenu__item" href="">ПРОГНОЗЫ</a>
							<a class="mainMenu__item" href="">ОТЗЫВЫ</a>
							<a class="mainMenu__item" href="">FAQ</a>
							<a class="mainMenu__item" href="">КОНТАКТЫ</a>
						</nav>
						<div class="social header__socials">
							<a class="social__item" href="">
								<i class="icn-telegram"></i>
							</a>
							<a class="social__item" href="">
								<i class="icn-vk"></i>
							</a>
							<a class="social__item" href="">
								<i class="icn-instagram"></i>
							</a>
						</div>
						<div class="header__user">
							<button>
								<i class="icn-avatar"></i>
								<span>QwErTy12345@gmail.com</span>
							</button>
							<div class="ddMenu">
								<a href="https://www.google.ru/">Личный Кабинет</a>
								<a href="">Мои подписки</a>
								<a href="">Настройки</a>
								<a href="">Выход</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper">
		<br>
		<h3>Tags Style</h3>
		<br>
		<h1>H1 - Helvetica - 20px Lorem ipsum dolor sit amet</h1>
		<br>
		<h2>H2 - Helvetica - 20px Lorem ipsum dolor sit amet</h2>
		<br>
		<h3>H3 - Helvetica - 18px Lorem ipsum dolor sit amet</h3>
		<br>
		<h4>H4 - Helvetica - 18px Lorem ipsum dolor sit amet</h4>
		<br>
		<h5>H5 - Helvetica - 18px Lorem ipsum dolor sit amet</h5>
		<br>
		<h6>H6 - Helvetica - 18px Lorem ipsum dolor sit amet</h6>
		<br>
		<p>p - Helvetica - 14px Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium deleniti, accusamus nihil nulla perferendis, quisquam dicta voluptates ea deserunt dolore voluptate quam? Aspernatur in, obcaecati! Officia libero molestias, vitae facere.</p>
		<br>
		<strong>strong - Helvetica - 14px Lorem ipsum dolor sit amet</strong>
		<br>
		<br>
		<em>em - Helvetica - 14px Lorem ipsum dolor sit amet</em>
		<br>
		<br>
		<table cellspacing="0">
			<caption>Table Caption</caption>
			<thead>
				<tr>
					<th>Table th</th>
					<th>Table th</th>
					<th>Table th</th>
					<th>Table th</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Order #32403429348 from 05/12/2017
					</td>
					<td>Completed</td>
					<td>2</td>
					<td>
						<strong>$89.95</strong>
					</td>
				</tr>
				<tr>
					<td>
						Order #32403429348 from 05/12/2017
					</td>
					<td>Completed</td>
					<td>2</td>
					<td>
						<strong>$89.95</strong>
					</td>
				</tr>
				<tr>
					<td>
						Order #32403429348 from 05/12/2017
					</td>
					<td>Completed</td>
					<td>2</td>
					<td>
						<strong>$89.95</strong>
					</td>
				</tr>
				<tr>
					<td>
						Order #32403429348 from 05/12/2017
					</td>
					<td>Completed</td>
					<td>2</td>
					<td>
						<strong>$89.95</strong>
					</td>
				</tr>
				<tr>
					<td>
						Order #32403429348 from 05/12/2017
					</td>
					<td>Completed</td>
					<td>2</td>
					<td>
						<strong>$89.95</strong>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<br>
		<ul>
			<li>ul - Arial - 14px Lorem ipsum dolor sit amet</li>
			<li>ul - Arial - 14px Lorem ipsum dolor sit amet</li>
		</ul>
		<br>
		<ol>
			<li>ol - Arial - 14px Lorem ipsum dolor sit amet</li>
			<li>ol - Arial - 14px Lorem ipsum dolor sit amet</li>
		</ol>
		<br>
		<br>
		<br>
		<hr>
		<br>
		<br>
		<h3>Icons</h3>
		<br>
		<div style="font-size: 20px">
			<i class="icn-angle-down"></i>
			<i class="icn-angle-left"></i>
			<i class="icn-angle-right"></i>
			<i class="icn-angle-up"></i>
			&nbsp;
			&nbsp;
			<i class="icn-bars"></i>
			<i class="icn-close"></i>
			<i class="icn-checkbox"></i>
			<i class="icn-radio"></i>
			&nbsp;
			&nbsp;
			<i class="icn-facebook"></i>
			<i class="icn-twitter"></i>
			<i class="icn-linkedin"></i>
			<i class="icn-youtube"></i>
			<i class="icn-instagram"></i>
			<i class="icn-telegram"></i>
			<i class="icn-vk"></i>
		</div>
		<br>
		<br>
		<div>
			<i class="icon-instagram icon-instagram-size"></i>
			<i class="icon-telegram icon-telegram-size"></i>
			<i class="icon-vk icon-vk-size"></i>
			<i class="icon-whatsApp icon-whatsApp-size"></i>
		</div>
		<br>
		<br>
		<br>
		<hr>
		<br>
		<br>
		<h3>Form elements</h3>
		<br>
		<div class="elements">
			<div class="row">
				<div class="col-6">
					<div class="field-case">
						<label class="field-name">Field name</label>
						<input class="field" name="" placeholder="Field" type="text">
					</div>
					<div class="field-case">
						<label class="field-name">Field name</label>
						<input class="field error" name="" placeholder="Field wrong" type="text" value="Field wrong">
						<label class="error">Wrong text</label>
					</div>
					<div class="field-case">
						<label class="field-name">Field name</label>
						<input class="field" disabled="disabled" name="" placeholder="Field disabled" type="text">
					</div>
					<div class="field-case">
						<label class="field-name">Field name</label>
						<div class="file-case">
							<a class="btns btns-primary">Attach file</a>
							<input accept="image/jpeg, application/msword, application/pdf" enctype="multipart/form-data" multiple="" name="" type="file">
							<div class="field">
								Attach files (doc, pdf less 2 mb)
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="field-case">
						<label class="field-name">Field name</label>
						<select class="field" name="">
							<option value="">Select field</option>
							<option value="">Select item 1</option>
							<option value="">Select item 2</option>
							<option value="">Select item 3</option>
							<option value="">Select item 4</option>
							<option value="">Select item 5</option>
						</select>
						<i class="icn-angle-down"></i>
					</div>
					<div class="field-case">
						<label class="field-name">Field name</label>
						<select class="field error" name="">
							<option value="">Select field wrong</option>
							<option value="">Select item 1</option>
							<option value="">Select item 2</option>
							<option value="">Select item 3</option>
							<option value="">Select item 4</option>
							<option value="">Select item 5</option>
						</select>
						<label class="error">Wrong text</label>
						<i class="icn-angle-down"></i>
					</div>
					<div class="field-case">
						<label class="field-name">Field name</label>
						<select class="field" disabled="disabled" name="">
							<option value="">Select field disabled</option>
							<option value="">Select item 1</option>
							<option value="">Select item 2</option>
							<option value="">Select item 3</option>
							<option value="">Select item 4</option>
							<option value="">Select item 5</option>
						</select>
						<i class="icn-angle-down"></i>
					</div>
				</div>
				<div class="col-12">
					<div class="field-case">
						<label class="field-name">Textarea</label>
						<textarea class="field" name="" placeholder="Textarea"></textarea>
					</div>
				</div>
				<div class="col-6">
					<div class="field-case">
						<label class="field-name">Field name</label>
						<label class="check-case">
							<input name="" type="checkbox">
							<span class="field-checkbox">
								<i class="icn-checkbox"></i>
							</span>
							<span class="check-name">
								checkbox default
								<a href="#">Accept all terms of service</a>
							</span>
						</label>
					</div>
					<div class="field-case">
						<label class="field-name">Field name</label>
						<label class="check-case">
							<input class="error" name="" type="checkbox">
							<label class="error">Wrong text</label>
							<span class="field-checkbox">
								<i class="icn-checkbox"></i>
							</span>
							<span class="check-name">checkbox wrong</span>
						</label>
					</div>
					<div class="field-case">
						<label class="field-name">Field name</label>
						<label class="check-case">
							<input disabled="disabled" name="" type="checkbox">
							<span class="field-checkbox">
								<i class="icn-checkbox"></i>
							</span>
							<span class="check-name">checkbox disabled</span>
						</label>
					</div>
					<div class="field-case">
						<label class="field-name">Field name</label>
						<label class="check-case">
							<input checked="checked" disabled="disabled" name="" type="checkbox">
							<span class="field-checkbox">
								<i class="icn-checkbox"></i>
							</span>
							<span class="check-name">checkbox disabled checked</span>
						</label>
					</div>
				</div>
				<div class="col-6">
					<div class="field-case">
						<label class="field-name">Field name</label>
						<label class="check-case">
							<input name="test" type="radio">
							<span class="field-radio">
								<i class="icn-radio"></i>
							</span>
							<span class="check-name">radio default</span>
						</label>
					</div>
					<div class="field-case">
						<label class="field-name">Field name</label>
						<label class="check-case">
							<input class="error" name="" type="radio">
							<label class="error">Wrong text</label>
							<span class="field-radio">
								<i class="icn-radio"></i>
							</span>
							<span class="check-name">radio default</span>
						</label>
					</div>
					<div class="field-case">
						<label class="field-name">Field name</label>
						<label class="check-case">
							<input disabled="disabled" name="" type="radio">
							<span class="field-radio">
								<i class="icn-radio"></i>
							</span>
							<span class="check-name">radio disabled</span>
						</label>
					</div>
					<div class="field-case">
						<label class="field-name">Field name</label>
						<label class="check-case">
							<input checked="checked" disabled="disabled" name="" type="radio">
							<span class="field-radio">
								<i class="icn-radio"></i>
							</span>
							<div class="check-name">radio disabled checked</div>
						</label>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<h3>Buttons</h3>
		<br>
		<button class="btns btns-primary">Button Priamary</button>
		&nbsp;
		<button class="btns btns-secondary">Button Secondary</button>
		&nbsp;
		<button class="btns btns-info">Button Info</button>
		&nbsp;
		<button class="btns btns-primary disabled">Button Disabled</button>
		&nbsp;
		<br>
		<br>
		<br>
		<br>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div class="foot__menus">
						<div class="foot__box">
							<div class="foot__title">Типы прогнозов</div>
							<ul class="foot__menu">
								<li>
									<a href="">Прогнозы на футбол</a>
								</li>
								<li>
									<a href="">Прогнозы на баскетбол</a>
								</li>
								<li>
									<a href="">Прогнозы на хоккей</a>
								</li>
								<li>
									<a href="">Прогнозы на теннис</a>
								</li>
								<li>
									<a href="">Ординар</a>
								</li>
								<li>
									<a href="">Экспресс</a>
								</li>
							</ul>
						</div>
						<div class="foot__box">
							<div class="foot__title">Навигация</div>
							<ul class="foot__menu">
								<li>
									<a href="">Прогнозы на спорт</a>
								</li>
								<li>
									<a href="">Личный кабинет</a>
								</li>
								<li>
									<a href="">Регистрация</a>
								</li>
								<li>
									<a href="">Контакты</a>
								</li>
								<li>
									<a href="">Отзывы</a>
								</li>
								<li>
									<a href="">FAQ</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="foot__rightBar">
						<a class="logo foot__logo" href="">
							<img alt="" src="assets/img/logo.svg">
						</a>
						<div class="foot__social">
							<a class="mail" href="">info@timbet.ru</a>
							<div class="social">
								<a class="social__item" href="">
									<i class="icn-telegram"></i>
								</a>
								<a class="social__item" href="">
									<i class="icn-vk"></i>
								</a>
								<a class="social__item" href="">
									<i class="icn-instagram"></i>
								</a>
							</div>
						</div>
						<div class="paymant">
							<i class="icon-master icon-master-size"></i>
							<i class="icon-maestro icon-maestro-size"></i>
							<i class="icon-qiwi icon-qiwi-size"></i>
							<i class="icon-webmoney icon-webmoney-size"></i>
							<i class="icon-yandex icon-yandex-size"></i>
							<i class="icon-visa icon-visa-size"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="foot__copy">
						<span>2018 Timbet. Все права защищены</span>
						<a href="">Договор оферты</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="assets/js/libs.min.js" type="text/javascript"></script>
	<script src="assets/js/app.min.js" type="text/javascript"></script>
</body>

</html>
