dist/welcome.html
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>Timbet</title>
	<link href="assets/ico/fav/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="assets/ico/fav/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="assets/ico/fav/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link href="assets/ico/ati/ati-57x57.png" rel="apple-touch-icon" sizes="57x57">
	<link href="assets/ico/ati/ati-60x60.png" rel="apple-touch-icon" sizes="60x60">
	<link href="assets/ico/ati/ati-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="assets/ico/ati/ati-76x76.png" rel="apple-touch-icon" sizes="76x76">
	<link href="assets/ico/ati/ati-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="assets/ico/ati/ati-120x120.png" rel="apple-touch-icon" sizes="120x120">
	<link href="assets/ico/ati/ati-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="assets/ico/ati/ati-152x152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="assets/css/libs.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/app.min.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__inner">
						<a class="logo header__logo" href="">
							<img alt="" src="assets/img/logo.svg">
						</a>
						<nav class="mainMenu header__mainMenu">
							<a class="mainMenu__item" href="">ПРОГНОЗЫ</a>
							<a class="mainMenu__item" href="">ОТЗЫВЫ</a>
							<a class="mainMenu__item" href="">FAQ</a>
							<a class="mainMenu__item" href="">КОНТАКТЫ</a>
						</nav>
						<div class="social header__socials">
							<a class="social__item" href="">
								<i class="icn-telegram"></i>
							</a>
							<a class="social__item" href="">
								<i class="icn-vk"></i>
							</a>
							<a class="social__item" href="">
								<i class="icn-instagram"></i>
							</a>
						</div>
						<div class="header__user">
							<button>
								<i class="icn-avatar"></i>
								<span>QwErTy12345@gmail.com</span>
							</button>
							<div class="ddMenu">
								<a href="https://www.google.ru/">Личный Кабинет</a>
								<a href="">Мои подписки</a>
								<a href="">Настройки</a>
								<a href="">Выход</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<img alt="" class="background" src="assets/img/image.jpg">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="mainHead">
						<div class="mainHead__titles">
							<div class="mainHead__title">Прогнозы на спорт</div>
							<div class="mainHead__subtitle">ОТ КОМАНДЫ АНАЛИТИКОВ TIMBET</div>
						</div>
						<ul class="mainHead__list">
							<li>Высокая проходимость</li>
							<li>Профессиональная аналитика</li>
							<li>Многолетний опыт в сфере ставок</li>
						</ul>
						<div class="mainHead__icon">
							<i class="icon-like icon-like-size"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="content">
						<div class="row">
							<div class="col-4 col-lg-3">
								<div class="block">
									<div class="block__head grey">Личный кабинет</div>
									<div class="forecastsList">
										<div class="forecastsList__head">Платные прогнозы</div>
										<ul class="forecastsList__list">
											<li>
												<a href="">Футбол</a>
											</li>
											<li>
												<a href="">Баскетбол</a>
											</li>
											<li>
												<a href="">Теннис</a>
											</li>
											<li>
												<a href="">Хоккей</a>
											</li>
											<li>
												<a href="">Ординар</a>
											</li>
											<li>
												<a href="">Экспресс</a>
											</li>
											<li class="active">
												<a href="">МОИ ПОДПИСКИ</a>
											</li>
										</ul>
									</div>
									<div class="forecastsList">
										<div class="forecastsList__head">Настройки</div>
										<ul class="forecastsList__list">
											<li>
												<a href="">E-mail оповещения</a>
											</li>
											<li>
												<a href="">Смена пароля</a>
											</li>
										</ul>
									</div>
								</div>
								<a class="signOut" href="">Выйти</a>
								<div class="d-xs-block d-sm-block d-md-block d-lg-none">
									<div class="versusBanner" style="background-image: url(&#39;assets/pictures/banner.jpg&#39;)">
										<div class="versusBanner__text">
											Узнай прогноз на матч
										</div>
										<div class="versusBanner__team">
											<img alt="" src="assets/pictures/team1.png">
											<span>Крузейро</span>
										</div>
										<span class="versusBanner__vs">VS</span>
										<div class="versusBanner__team">
											<img alt="" src="assets/pictures/team2.png">
											<span>Бока Х</span>
										</div>
										<a class="btns btns-primary btns-block versusBanner__btn" href="">Хочу прогноз</a>
									</div>
								</div>
							</div>
							<div class="col-8 col-lg-6">
								<div class="block">
									<div class="block__body">
										<h1 class="h1">Добро пожаловать!</h1>
										<p>
											Какие возможности у зарегистрированного пользователя Timbet?
										</p>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
										</p>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
										</p>
									</div>
								</div>
							</div>
							<div class="col-4 col-lg-3 d-xs-none d-sm-none d-md-none d-lg-block">
								<div class="versusBanner" style="background-image: url(&#39;assets/pictures/banner.jpg&#39;)">
									<div class="versusBanner__text">
										Узнай прогноз на матч
									</div>
									<div class="versusBanner__team">
										<img alt="" src="assets/pictures/team1.png">
										<span>Крузейро</span>
									</div>
									<span class="versusBanner__vs">VS</span>
									<div class="versusBanner__team">
										<img alt="" src="assets/pictures/team2.png">
										<span>Бока Х</span>
									</div>
									<a class="btns btns-primary btns-block versusBanner__btn" href="">Хочу прогноз</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div class="foot__menus">
						<div class="foot__box">
							<div class="foot__title">Типы прогнозов</div>
							<ul class="foot__menu">
								<li>
									<a href="">Прогнозы на футбол</a>
								</li>
								<li>
									<a href="">Прогнозы на баскетбол</a>
								</li>
								<li>
									<a href="">Прогнозы на хоккей</a>
								</li>
								<li>
									<a href="">Прогнозы на теннис</a>
								</li>
								<li>
									<a href="">Ординар</a>
								</li>
								<li>
									<a href="">Экспресс</a>
								</li>
							</ul>
						</div>
						<div class="foot__box">
							<div class="foot__title">Навигация</div>
							<ul class="foot__menu">
								<li>
									<a href="">Прогнозы на спорт</a>
								</li>
								<li>
									<a href="">Личный кабинет</a>
								</li>
								<li>
									<a href="">Регистрация</a>
								</li>
								<li>
									<a href="">Контакты</a>
								</li>
								<li>
									<a href="">Отзывы</a>
								</li>
								<li>
									<a href="">FAQ</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="foot__rightBar">
						<a class="logo foot__logo" href="">
							<img alt="" src="assets/img/logo.svg">
						</a>
						<div class="foot__social">
							<a class="mail" href="">info@timbet.ru</a>
							<div class="social">
								<a class="social__item" href="">
									<i class="icn-telegram"></i>
								</a>
								<a class="social__item" href="">
									<i class="icn-vk"></i>
								</a>
								<a class="social__item" href="">
									<i class="icn-instagram"></i>
								</a>
							</div>
						</div>
						<div class="paymant">
							<i class="icon-master icon-master-size"></i>
							<i class="icon-maestro icon-maestro-size"></i>
							<i class="icon-qiwi icon-qiwi-size"></i>
							<i class="icon-webmoney icon-webmoney-size"></i>
							<i class="icon-yandex icon-yandex-size"></i>
							<i class="icon-visa icon-visa-size"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="foot__copy">
						<span>2018 Timbet. Все права защищены</span>
						<a href="">Договор оферты</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="assets/js/libs.min.js" type="text/javascript"></script>
	<script src="assets/js/app.min.js" type="text/javascript"></script>
</body>

</html>

src/welcome.haml
!!!5
%html
    //=include components/_head.haml
    %body
        - $guest = false
        //=include components/_header.haml
        %main
            %img.background{:src => "assets/img/image.jpg", :alt => ""}/
            //=include components/_main.head.haml
            .container
                .row
                    .col-12
                        .content
                            .row
                                //=include components/_sidebar.left.haml
                                .col-8.col-lg-6
                                    .block
                                        .block__body
                                            %h1.h1 Добро пожаловать!
                                            %p
                                                Какие возможности у зарегистрированного пользователя Timbet?  
                                            %p
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.

                                            %p
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.

                                            
                                    

                                    
                                //=include components/_sidebar.right.haml
        //=include components/_footer.haml
    
